/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Titillium+Web&display=swap');

@font-face {
  font-family: 'cuprum';
  src: url('/resources/fonts/Cuprum/Cuprum-VariableFont_wght.ttf') format('truetype')
}

:root {
  --board-background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  --font-main: 'Titillium Web', sans-serif;
  --font-main-color: rgb(255, 255, 255);
  --accent-color: #903925;
  --box-background: rgb(0 0 0 / 32%);
  --card-bgcolor: rgb(103 109 162 / 31%);
  --card-header-font-size: 1.25em;
  --brand-font-size: 2rem;
  --brand-font: 'cuprum';
  --content-bgcolor: #191D2C;
  --navbar-bgcolor: #2E3750;
  --navbar-inactive: #555;
  --navbar-font-size: 1.2rem;
  --hightlight: rgb(122, 117, 117);
}

* {
  box-sizing: border-box !important;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-main);
  xbackground-image: url('/resources/images/mount-24.jpg');
  
  xbackdrop-filter: blur(5px);
  x-webkit-backdrop-filter: blur(5px);
}

.hidden {
  display: none !important;
}

#c_top {
  display: grid;
  grid-template-columns: 12% auto;
  height: 100%;
  width: 100%;
}

#c_navbar {
  padding: .8rem;
  padding-right: 0;
  font-size: var(--navbar-font-size);
  line-height: 2rem;
  background-color: var(--navbar-bgcolor);
  color: #aaa;
  margin: 0;
}

#c_content {
  background-color: var(--content-bgcolor);
  padding: 1rem;
  margin: 0;
}

#c_navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#c_navbar li {
  padding: .5rem;
}

#c_navbar li.active {
  background-color: var(--box-background); 
  cursor: pointer;
  color: #fff;
}

#c_navbar li:hover { 
  background-color: var(--box-background); 
  cursor: pointer;
}

.gradient-text-brand {
  background-image: linear-gradient(180deg, #9493e9, #6ef054);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-icon-brand {
  background-image: linear-gradient(0deg, #9b9ad8, #f0e054);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 1.5rem;
}

.brand {
  font-family: var(--brand-font);
  font-size: var(--brand-font-size);
  cursor: default !important;
  pointer-events: none;
}

.brand .material-symbols-outlined {
  font-size: 2.2rem;
}

#date_time {
  position: fixed;
  bottom: 0;
  font-size: 2rem;
  letter-spacing: .2rem;
  text-align: center;
  width: 100%;
  color: #ccc;
  padding-bottom: .5rem;
}



/* xl-menu.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 200px;
  xbackground-color: var(--box-background);
  background-color: #2E3750;
}

sl-menu-item::part(base) {
  font-size: var(--navbar-font-size);
  color: var(--font-main-color);  
}

sl-menu-item.active::part(base) {
  background-color: var(--accent-color);
} */


/* #navbar div.active {
  background-color: var(--accent-color);
} */



.content-grid {
  display: grid;
  gap: 1em;
}

.content-grid.col-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.content-grid.col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.content-grid.col-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.content-grid.col-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.content-grid.col-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.content-grid.col-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.content-grid.col-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.content-grid-item {
  overflow: hidden;
  transition: transform .2s ease-in;
}

/* .selected,
.content-grid-item:focus {
  transform: scale(1.04);
} */

.card::part(header) {
  background-color: var(--accent-color);
  font-size: var(--card-header-font-size);
  padding: 0;
}

.card::part(base) {
  background-color: var(--navbar-bgcolor);
  text-align: center;
}

.card::part(body) {
  height: 300px;
  overflow: auto;
}

.card.taller::part(body) {
  height: 450px;
}

/* .card::part(base):active {
  transform: scale(1.04);
  background: rgba(15, 175, 39, 0.2);
} */



.card.active:not(.boring) {
  
}


.card.taller {
  min-height: 520px;
  max-height: 520px;
}

.card.tallest {
  min-height: 780px;
  max-height: 780px;
}

.card.smaller {
  min-height: 200px;
  max-height: 220px;
}

.card.center {
  left: calc(50% - 50px);
}


/* .thumb-avatar {
  max-width: 90px;
  max-height: 90px;
  xborder-radius: 50%;
  padding-right: 1.5rem;
} */


.pic-thumb {
  width: 110px; 
  height: 92px; 
  object-fit: cover;
  border: 2px solid #fff;
}

#image_preview_container {
  position: relative;
}

#image_preview_container img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
  opacity:0;
  filter: alpha(opacity=0);
  height: 600px;
}

#image_preview_container img.show {
  opacity:1;
  filter: alpha(opacity=1);
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#reload {
  animation: spin 1.5s linear infinite;
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform: rotate(360deg); 
  } 
}

/* Modal */
/* .modal {
  position: fixed;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
} */

/* .modal-caption {
  color: var(--font-main-color);
  font-size: 1.6em;
  width: 100%;
  text-align: center;
} */

/* .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
} */

/* .modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: transform .7s;
} */

#screensaver_modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,1);
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  top: 0;
  left: 0;
}

/* toast notification */
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #57a85b;
  color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}