/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Titillium+Web&display=swap');

:root {
  --font-main: 'Titillium Web', sans-serif;
  --font-main-color: rgb(255, 255, 255);
  --content-bgcolor: #313131;
  --accent-color: #bc4429ab;
  --card-bgcolor: rgba(33, 36, 62, .34);
  --brand-font-size: 2.2rem;
  --brand-font: 'Shadows Into Light Two', cursive;
  --sidebar-bgcolor: #414141;
  --sidebar-inactive: #555;
  --sidebar-font-size: 1.5rem;
  --hightlight: rgb(122, 117, 117);
}

* {
  box-sizing: border-box !important;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-main);
  background-image: url('/resources/images/mount-24.jpg');
}

.hidden {
  display: none !important;
}

#top_container {
  display: grid;
  grid-template-columns: 210px auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 10px;
}

#sidebar {
  background-color: rgb(0 0 0 / 52%);
  color: var(--font-main-color);  
  font-size: var(--sidebar-font-size);
  padding-left: .5rem;
}

#sidebar > div {
  padding: .5rem;
  cursor: pointer;
}

#sidebar div:hover:not(.active) {
  background-color: var(--sidebar-inactive);
}

#sidebar div.active {
  background-color: var(--accent-color);
}

#sidebar div span {
  vertical-align: middle;
}

.brand {
  font-family: var(--brand-font);
  font-size: var(--brand-font-size);
  cursor: default !important;
  pointer-events: none;
}

.brand .material-symbols-outlined {
  font-size: 2.5rem;
}

#contents {
  padding-top: 2.5em;
  padding: 1rem;
}

.content-grid {
  display: grid;
  column-gap: 1.5em;
  row-gap: 1em;
  gap: 1em;
}

.content-grid.col-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.content-grid.col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.content-grid.col-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.content-grid.col-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.content-grid-item {
  overflow: hidden;
  transition: transform .2s;
}

.selected,
.content-grid-item:hover,
.content-grid-item:focus {
  transform: scale(1.04);
}

.card.active {
  transform: scale(1.04);
}

.card {
  text-align: center;
  min-height: 350px;
  max-height: 350px;
  xborder-bottom: 6px inset var(--card-bgcolor) !important;
  xborder: 1px solid #000;
  xborder-left: 3px inset #111;
  xborder-bottom: 5px solid #111;
  xborder-radius: 4px;
}

.card-title {
  background-color: var(--accent-color);
  color: var(--font-main-color);
  font-size: 1.25em;
  padding: .25em;
}

.card-body {
  background-color: var(--card-bgcolor);
  color: var(--font-main-color);
  padding: .5em;
  height: 100%;
  max-height: inherit;
  overflow: auto;
  
}

.card.taller {
  min-height: 520px;
  max-height: 520px;
}



.card-body.tasks {
  background-color: #f5f5f5 !important;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  opacity: 1 !important;
  text-align: left;
  font-family: courier, monospace !important;
  color: #555;
}

.tasks.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  font-family: courier, monospace !important;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;
}

.task-complete {
  text-decoration: line-through;
}



​

#content {
  display: grid;
}

#time {
  position: fixed;
  bottom: 0;
  font-size: 1.15em;
  text-align: center;
  width: 100%;
}

.bubble {
  position: relative;
  background: #e8dfdf;
  color: #666;
  font-family: Arial;
  font-size: 1.2rem;
  text-align: left;
  width: 390px;
  height: 78px;
  border-radius: 10px;
  padding: .6em;
  margin-bottom: 1em;
}

.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #e8dfdf;
  border-width: 9px 19px 9px 0;
  top: 35%;
  left: -19px;
}

.thumb-avatar {
  max-width: 90px;
  max-height: 90px;
  xborder-radius: 50%;
  padding-right: 1.5rem;
}




.xflex-tasks {
  display: flex;
  flex-direction: column;
}

.xtask {
  xborder-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #e4e4a9;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  color: #333;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.xtask:nth-child(even) {
  background: #dcc191;
  color: #fff;
}




.pic-thumb {
  width: 280px; 
  height: 200px; 
  object-fit: cover;
}

#reload {
  font-size: 6rem;
  cursor: pointer;
}

#reload:hover {
  animation:spin 1.5s linear infinite;
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

/* Modal */
.modal {
  position: fixed;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-caption {
  color: var(--font-main-color);
  font-size: 1.6em;
  width: 100%;
  text-align: center;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: .5s;
  transition: transform .7s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.04);
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  top: 0;
  left: 0;
}
/* End */




/*
.cover-image {
  width: 300px;
  height: auto;
  cursor: pointer;
}






#sidebar_overlay {
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0;
  position: fixed;
  font-size: 1.2em;
  color: var(--font-main-color);
}

#sidebar {
  top: 0;
  left: 0;
  width: 16%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 100%;
  opacity: .2;
}

#sidebar_overlay:active {
  border: none;
}











button {
  background-color: var(--button-bgcolor);
  color: var(--font-main-color);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}







#section_pictures img {
  xwidth: auto;
  xmax-width: 95%;
  xmax-height: 380px;
}










.xxtask span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}










button {
  background-color: #b0a4e9;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  color: #111;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: var(--active-element);
  color: white;
}




*/