/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Titillium+Web&display=swap');

/* *****************************************
Various prefixes

c = container
fc = flex container

***************************************** */

:root {
  --font-main: 'Titillium Web', sans-serif;
  --font-main-color: #fff;
  --content-bgcolor: #313131;
  --card-bgcolor: #fff;
  --title-bgcolor: #414141;
  --sidebar-bgcolor: #414141;
  --sidebar-inactive: #555;
  --button-bgcolor: #ed1010;
  --brand-font: 'Shadows Into Light Two', cursive;
  --brand-font-size: 2em;
  --active-element: #ed1010;
  --hightlight: rgb(122, 117, 117);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-main);
  background-color: var(--content-bgcolor);

  background: hsla(0, 75%, 28%, 1);
  background: linear-gradient(135deg, hsla(0, 75%, 28%, 1) 9%, hsla(243, 67%, 29%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(0, 75%, 28%, 1) 9%, hsla(243, 67%, 29%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(0, 75%, 28%, 1) 9%, hsla(243, 67%, 29%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7D1212", endColorstr="#1D187B", GradientType=1 );
}

.hidden {
  display: none !important;
}

.content-cards {
  padding-top: 1.5em;
}

.content-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 1.5em;
  row-gap: 1em;
}

.content-grid-item {
  overflow: hidden;
  transition: transform .2s;
}

.selected,
.content-grid-item:hover,
.content-grid-item:focus {
  border: 2px solid var(--hightlight);
  transform: scale(1.07);
}

.card {
  text-align: center;
  background-color: var(--card-bgcolor);
  min-height: 350px;
  max-height: 350px;
  border-bottom: 6px inset var(--card-bgcolor) !important;
  
}

.card-title {
  background-color: var(--title-bgcolor);
  color: #fff;
  font-size: 1.25em;
  padding: .25em;
  margin-bottom: .35em;
}

.card-body {
  max-height: inherit;
  overflow: auto;
}

.card.taller {
  min-height: 520px;
  max-height: 520px;
}

#sidebar_overlay {
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0;
  position: fixed;
  font-size: 1.2em;
  color: var(--font-main-color);
}

#sidebar {
  top: 0;
  left: 0;
  width: 16%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 100%;
  opacity: .2;
}

#sidebar_overlay:active {
  border: none;
}

#sidebar_overlay div {
  display: block;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

#sidebar_overlay div.active {
  background-color: var(--active-element);
}

#sidebar_overlay div:hover:not(.active) {
  background-color: var(--sidebar-inactive);
}

#sidebar_overlay div span {
  vertical-align: middle;
}

.brand {
  font-family: var(--brand-font);
  font-size: var(--brand-font-size);
  padding-right: 3em;
}

.brand:hover {
  cursor: default;
}

.brand .material-symbols-outlined {
  padding-right: .135em;
  font-size: 1.2em !important;
}

.material-symbols-outlined {
  padding-right: .3em;
  font-size: 32px !important;
}

button {
  background-color: var(--button-bgcolor);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  top: 0;
  left: 0;
}

#section_pictures img {
  width: auto;
  max-width: 95%;
  max-height: 380px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  xpadding-top: 2em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-caption {
  color: #fff;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.fc-tasks {
  display: flex;
  flex-direction: column;
}

.task {
  xborder-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #e4e4a9;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  color: #333;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.task:nth-child(even) {
  background: #dcc191;
  color: #fff;
}

.xxtask span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#time {
  position: fixed;
  bottom: 0;
  font-size: 1.15em;
}



.msg-box:nth-child(even) {
  background: #746e83;
  color: #fff;
}


.msg-box {
  border: 2px solid #dedede;
  background-color: #aba1aa;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  text-align: left;
  width: 95%;
  color: #fff;
  backdrop-filter: blur(10px);
}

.msg-box .sender {
  font-size: 1.2em;
  font-weight: 900;
}

.msg-box .message {
  font-size: 1em;
}

.msg-box .sent {
  font-size: .8em;
}





.fc-pictures {
  display: flex;
  flex-direction: row;
  xjustify-content: center;
  xflex-wrap: wrap;
}

.fc-pictures > div {
  margin: .6em;
  xpadding: 30px;
}

.content {
  background-color: white;
  padding: 10px;
  text-align: center;
}


button {
  background-color: #b0a4e9;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  color: #111;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: var(--active-element);
  color: white;
}