/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Titillium+Web&display=swap');

:root {
  --font-main: 'Titillium Web', sans-serif;
  --content-bgcolor: #313131;
  --card-bgcolor: #f1f1f1;
  --title-bgcolor: #414141;
  --sidebar-bgcolor: #414141;
  --sidebar-inactive: #555;
  --button-bgcolor: #ed1010;
  --brand-font: 'Shadows Into Light Two', cursive;
  --brand-font-size: 1.7em;
  --active-element: #ed1010;
  --hightlight: rgb(122, 117, 117);
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-family: var(--font-main);
  color: var(--card-bgcolor);
  width: 100vw;
  height: 100vh;
}

body {
  background: rgb(3, 4, 6);
  background: linear-gradient(124deg, rgba(3, 4, 6, 1) 0%, rgba(64, 76, 99, 1) 42%);
  padding: 2rem;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.material-symbols-outlined {
  xfont-size: 2rem !important;
}


#header {
  background-color: rgba(3, 2, 2, .3);
  color: #fff;
  xborder-bottom: 2px inset rgb(186, 144, 144);
  xborder-bottom-left-radius: 5em;
  xborder-bottom-right-radius: 5em;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: .3rem;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}

#section_top {
  margin-top: 25%;
}

.section-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  column-gap: 2rem;
  row-gap: 4rem;
  margin-left: auto;
  margin-right: auto; 
}

.section-buttons div {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

#c_dpad .section-buttons {
  grid-template-columns: auto auto; 
  row-gap: 2rem;
}

#function_buttons.grid {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 2rem;
  xpadding-left: 2rem;
  xpadding-right: 2rem;
}

.arrow {
  font-size: 3rem;
}

.grid-item {
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

button {
  background-color: var(--button-bgcolor);
  color: white;
  padding: .8rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.push-button {
  cursor: pointer;
  padding: .5rem;
  background-color: #f25022;
  box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  font-size: 1rem;
}

.push-button > span {
  vertical-align: middle;
  padding-right: .5rem;
}

.push-button .push-button:hover,
.push-button:focus {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.push-button:active,
.push-button.activated {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}

input[type=text],
textarea {
    font-family: var(--font-main);
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

#btn_back {
  color: var(--card-bgcolor);
  position: absolute;
  top: 1.8%;
  left: 8.5%;
}

#btn_back:hover {
  cursor: pointer;
}


.fc-tasks {
  display: flex;
  flex-direction: column;

  xtext-align: center;
}

#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  xpadding: 30px 20px;
  margin-top: 10px;
}

.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  background-color: #fcff9e;
  xheight: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  color: #ddd;
  background: rgba(255,255,255,0.1);
}

.task button {
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  xwidth: 40px;
  border-radius: 5px;
}

#avatar_preview {
  border: 4px solid #fff;
}

input:disabled {
  background-color: #ffffff;
  font-style: italic;
}


